body{
	background-image: url("./img/background-school.jpg");
	background-repeat: repeat;
	background-size: 500px 500px;
	height: 100%;
}

html{
	height: 100%;
}

.geral{
	min-height: 100%;
	position: relative;
	width: 800px;
}

div.body-content{
	padding-bottom: 100px;
}

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0;
}

.imagem-quad{
	width: 250px;
	height: 250px;
}

.imagem-vert{
	width: 250px;
	height: 300px
}

.imagem-horz{
	width: 325px;
	height: 250px;
}

.imagem-p{
	width: 150px;
}

.borda{
	border: 1px solid;
	border-radius: 10px;
	border-color: #FF8C00;
}

#central{
	text-align: center;
}

.jumbotron-custom{
	background-color: #F0F8FF !important;
}
